.abacus{
  max-width: 500px;
  margin: 0 auto;
}

.player{
  margin-bottom: 2em;
}

.row{
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.line{
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  top: 9px;
  background-color: #ccc;
}

.nut{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: wheat;
}

.right{
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.left{
  position: relative;
  display: flex;
  justify-content: flex-start;
}