@tailwind base;
@tailwind components;
@tailwind utilities;

.abacus{
  max-width: 500px;
  margin: 0 auto;
}

.player{
  margin-bottom: 2em;
}

.player-actions{
  position: relative;
  display: flex;
  gap: 1em;
}

.rows{
  flex-grow: 1;
}

.action-button{
  position: absolute;
  padding-bottom: 3em;
  width: 50%;
  opacity: 1%;
}

.action-button__right{
  right: 0;
}

.action-button__left{
  left: 0;
}

.actions{
  padding: 2em 0em;
}

.score{
  display: flex;
  justify-content: space-between;
}

.mb1{
  margin-bottom: 1em;
}

.mb2{
  margin-bottom: 2em;
}

.row{
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.line{
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  top: 9px;
  background-color: #ccc;
}

.nut{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: wheat;
}

.right{
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.left{
  position: relative;
  display: flex;
  justify-content: flex-start;
}

.disabled{
  opacity: 0.5;
  pointer-events: none;
}